<form #formularz="ngForm">
  <div class="formularz">
    <h1>Zamówienie:</h1>

    <label>
      <span>Imię i nazwisko:</span>
      <input
        type="text"
        class="wpis"
        id="Imie_Nazwisko"
        name="Imie_Nazwisko"
        [(ngModel)]="Imie_Nazwisko"
        required
        #Imie_NazwiskoForm="ngModel"
      />
      <div
        class="alert"
        *ngIf="Imie_NazwiskoForm.invalid && Imie_NazwiskoForm.touched"
      >
        Pole imie i nazwisko jest wymagane
      </div>
    </label>

    <label>
      <span>Email:</span>
      <input
        type="text"
        class="wpis"
        id="email"
        name="email"
        [(ngModel)]="email"
        required
        #emailForm="ngModel"
      />
      <div class="alert" *ngIf="emailForm.invalid && emailForm.touched">
        Pole nie moze byc puste
      </div>
      <div
        class="alert"
        *ngIf="emailForm.touched && emailForm.errors?.['pattern']"
      >
        to nie jest email
      </div>
    </label>

    <label>
      <span>Produkt:</span>
      <select id="produkt" class="produkt" name="produkt" [(ngModel)]="produkt">
        <option value="pralka">Pralka</option>
        <option value="telewizor">Telewizor</option>
        <option value="lodowka">Lodówka</option>
        <option value="laptop">Laptop</option>
      </select>
    </label>

    <label>
      <span>Ilość:</span>
      <input
        type="number"
        class="wpis"
        id="ilosc"
        name="ilosc"
        [(ngModel)]="ilosc"
      />
    </label>

    <label>
      <span>Wiadomość:</span>
      <textarea
        class="wiadomosc"
        id="wiadomosc"
        name="wiadomosc"
        [(ngModel)]="wiadomosc"
      ></textarea>
    </label>

    <button type="submit" class="przycisk" (click)="onSubmit()">Zamów</button>
    <button
      type="button"
      class="przycisk"
      style="background-color: red"
      (click)="formularz.resetForm()"
    >
      Zamów
    </button>
  </div>
</form>
